.shared-table {
  margin: 100px auto;
  border: 1px solid red;
  display: flex;
  gap: 50px;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

.table-cell {
  padding: 10px 15px;
}
